

body{
  background: black;
  position: relative;
}

section{
  border-bottom: 10px solid;
  min-height: 100vh;
}


figure{
  margin-bottom: 1em;
}


.moi{
width: : 60%;
height : 500px;
object-fit: cover;
padding: 1em;
margin-bottom: 10px;

}

.project-feature-container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.project-feature{
  margin: 1em;
  padding: 1em;
  flex-basis: 320px;
image: center;
}

#main-menu {
  width: 300px;
  position: absolute;
  top: 0;
  left: -300px;
  height: 100%;
  z-index: 999;
  transition: 3s all ease;
}


#main-menu ul a {
  display: block;
  color: white;
  padding: 1em;
  margin-bottom: 5px;

}


#main-menu:target + .backdrop {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
}


#main-menu {
  position: static;
  width: 100%;
}


#main-menu ul {
  display: flex;
  justify-content: space-around;;
  width: 100%;
}


#about-me{
  position: static;
  max-width: 70em;
}


#contact .text-content {
  position: static;
  margin-left: 2em;
}
