
url('https://fonts.googleapis.com/css?family=Montserrat:200|Philosopher:700|Poiret+One&display=swap');

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

h1{
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  margin-left: 1em;
  color: #ac3c3d;
}

header h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 5em;
  text-align: center;
  color: #ac3c3d;
}

h2{
  font-family: 'Philosopher', sans-serif;
  font-size: 2em;
  margin-bottom: 0.65em;
}


figcaption{
  font-size: 0.75em;
  font-style: italic;
  color: #f4ddcd
}
