

p{
font-family: obviously, sans-serif;
font-style: normal;
font-weight: 200;
line-height: 18px;
font-size: 1em;
color: white;

}

header {
  font-family: obviously, sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 2em;
  color: red;
}

h1{
  font-family: obviously, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3em;
  margin-left: 1em;
  color: white;
}



h2{
  font-family: obviously, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  margin-left: 2em;
  color: white;
}


h3{
  font-family: obviously, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.65em;
  color: white;
}
